@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}
.primary-color {
	background-color: #34495e;
	color:white;
}
text-white{
	
}
/* Navbar designing */
.navbar {
	width: 100%;
	padding: 15px 5px;
	color:white;
}

.navbar-brand {
	font-weight: bold;
	font-size: 1.6rem;
	padding: 0 30px;
	letter-spacing: 1px;
	color:white;
}
.navbar-brand:hover{
	color:white;
}
.navbar ul li a {
	color: white;
}
.navbar .dropdown-menu li a {
	color: black;
}
.navbar .dropdown-menu li a:hover {
	color: rgba(0,0,0,0.6);
}
.navbar ul li a:hover {
	color: wheat;
}
.navbar-toogler{
	color:white;
}
/* Poster designing */
.poster {
	height: 80vh;
	background: #34495e;
	position: relative;
	background-image: url('../img/bannerbg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.poster-content {
	position: absolute;
	top: 40%;
	left: 15%;
}

.poster-header {
	color: white;
	width: 60vw;
	font-size: 1.5vw;
	letter-spacing: 1.3px;
	text-align: justify;
}

.poster-signup-btn a {
	text-decoration: none;
	color: white;
	font-size: 1vw;
}

/* Sign Signup design */
.bg-img {
	background-image: url('../img/bannerbg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
/* show_blog_page.jsp page design */
.blog-bg {
	/*background-image: url('../img/blog_bg.jpeg');*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.post-title{
	font-weight:400;
	letter-spacing:1px;
	padding:5px;
}
.post-content{
	font-weight:300;
}
.post-code{
	font-weight:300;
	padding:8px;
	background-color:wheat;
}
.row-user{
	border:1px solid #e2e2e2;
	padding:15px;
	padding-bottom:8px;
}

.post-user-info{
	font-weight:300;
}
.post-date{
	font-weight:500;
	font-style:italic;
}
@media screen and (max-width:1000px) {
	.poster {
		height: 60vh;
	}
	.poster-content {
		top: 45%;
	}
}

@media screen and (max-width:750px) {
	.poster {
		height: 65vh;
	}
	.poster-content {
		top: 50%;
	}
}

@media screen and (max-width:600px) {
	.poster {
		height: 50vh;
	}
	.poster-content {
		top: 50%;
	}
}