@charset "ISO-8859-1";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/* Navbar designing */
.navbar{
	width:100%;
	padding: 15px 5px;
}
.primary-color{
	background-color:#34495e;
}
.navbar-brand{ 
	font-weight:bold;
	font-size:1.6rem;
	padding: 0 30px;
	letter-spacing:1px;
}
.navbar ul li a:hover{
	color:wheat;
}

/* Poster designing */
.poster{
	height:65vh;
	background:#34495e;
	position:relative;
	/*clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 95%, 59% 100%, 26% 91%, 0 96%, 0 0);*/
	background-image:url('../img/bodyImg.jfif');
	background-repeat:no-repeat;
	background-size:cover;
}
.poster-content{
	position:absolute;
	top:40%;
	left:15%;
}
.poster-header{
	color:white;
	width:60vw;
	font-size:1.5vw;
	letter-spacing:1.3px;
  	text-align: justify;
}

.poster-signup-btn a{
	text-decoration:none; 
	color:white;
	font-size:1vw;
}

/* Sign Signup design */
.bg-img{
	background-image:url('../img/bodyImg.jfif');
	background-repeat:no-repeat;
	background-size:cover;
}
